body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.tituloPrincipal {
    font-size: 18px;
    padding: 15px;
    margin: 15px;
    color:saddlebrown;
}

.contenedorTitulo {
    background-color: bisque;
    text-align: center;
    width: 50%;
    height: 60px;
    border: dotted 2px saddlebrown;
    border-radius: 10px;
}

.contenedorSubtema {
    background-color: darkkhaki;
    text-align: center;
    border: solid 3px brown;
    border-radius: 15px;
    margin: 15px;
}

#tituloPuntoEvaluacion {
    background-color: yellowgreen;
    text-align: end;
    color: azure;
}

.tituloSubtema {
    color:brown;
    font-size: 17px;
    padding: 10px;
    margin: 10px;
}

.parrafoIntroSubtema {
    font-size: 12px;
    color:black;
    padding: 10px;
    margin: 10px;
}

.contenedorSubtemas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
}