* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #DADADA;
}

header {
    /* El margin se puede usar de manera segregada */
    /* 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px; 
    */
    /* Ó se puede usar, de manera abreviada */
    margin: 20px 30px 0px 30px;
    /* El padding se puede usar de manera segregada */
    /* 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; 
    */
    /* Ó se puede usar, de manera abreviada */
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border: solid 1px #5980FF;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header section {
    text-align: center;
    margin: 5px 5px;
}

header section p {
    text-align: end;
    font-size: 14px;
    margin: 15px 15px;
    color: slateblue;
}

/* Esta declaración dice, que atodos
los li, que están dentro de un ul, 
y que a su vez, están dentro de un nav,
se le aplican los estilos dados, en este
selector de tipo elemento, con estatus. */

nav ul li {
    margin: 8px 16px; 
}

nav ul li a {
    text-decoration: none;
    background-color: #5980FF;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #99FF00;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

main section {
    background-color: #5980FF;
    padding: 40px 0;
    margin: 20px 5px;
    border-radius: 10px;
    border: dotted 5px white;
}

section h3 {
    color:darkblue;
}

main section p {
    color:darkblue;
}

.flexBooks {
    display: flex;
}